h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

nav .yt-button-group:first-child {
    margin-bottom: 16px;
}

#hidden_actions {
    margin-top: 4%;
}

#remote {
    position: relative;
    top: auto;
    right: auto;
    padding-bottom: 20px;
    background: #789;
}

#form_add_show, #form_add_torrent {
    text-align: center;
}

.yt-button-group, #bottom_links .left, #bottom_links .right {
    float: none;
    text-align: center;
}

#bottom_links .right {
    padding-top: 20px;
}